.container{
    display: flex;
    flex-direction: row;
    background-color: #202225;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    gap: 15px;
}

.container h2{
    padding: 5px;
    padding-left: 0px;
    margin: 0px;
}

.container p{
    margin: 0;
    padding: 5px;
    font-family: 'Whitney', sans-serif;
}

.container button{
    background-color: #5865F2;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: #FFF;
    font-family: 'Whitney', sans-serif;
    font-size: 16px;
}

.anydesk{
    display: flex;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    gap: 4px;
    background-color: var(--primary);
}

.mega{
    display: flex;
    align-items: center;
    gap: 5px;
    height: fit-content;
}

.wrapButton{
    display: flex;
    justify-content: space-between;
}
