.navbar{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 30px);
    height: 70px;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: space-between;
}

.container span{
    font-weight: bold;
    font-family: 'Ginto', sans-serif;
    font-size: 1.4rem;
    padding: 0 20px;
}

.wrapper ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Whitney', sans-serif;
    font-size: 1.2rem;
}

.active{
    background-color: #404349;
    border-radius: 4px;
}

.wrapper li{
    padding: 5px 20px;
    transition: all 0.3s ease-in-out;
}

.divider{
   width: 1px;
   margin: 0 10px;
   background-color: #404349;
   height: 50px;
}
