@font-face {
  font-family: 'Ginto';
  src: url('../public/fonts/Ginto.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  src: url('../public/fonts/whitney-medium.otf') format('opentype');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #18191C;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root{
  --primary: #36393F;
}
