.container {
  padding: 0 15px;
}

.container main {
  background-color: var(--primary);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}